name: MAUI Unit Tests

on:
  push:
    branches:
      - main
      - dev
      - infra/runner-toevoegen
  pull_request:
    branches:
      - main
      - dev

jobs:
  test:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - run: dotnet workload install maui

      - name: Herstel afhankelijkheden voor Android
        run: dotnet restore


      - name: Bouw de applicatie voor Windows en Android
        run: dotnet build --configuration Release --no-restore

      - name: Voer unit tests uit
        run: dotnet test --configuration Release --no-restore --no-build --verbosity normal
